build/
gradle/
run/
libs/
.settings/
*.launch
*.log
*.jar
*.class
*~
.classpath
gradlew
gradlew.bat
bin/
.gradle/
build.number
.project
src/main/resources/assets/simple_machines/textures/block/blast_furnace_front_mask
