#
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity getTotalCookTime(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/level/block/entity/AbstractFurnaceBlockEntity;)I # getTotalCookTime
#
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity isLit()Z # isLit
#
protected net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litTime
#
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity quickCheck
#
protected net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litDuration
#
protected net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingProgress
#
protected net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingTotalTime
#
